<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('ads_index') }}">All Ads</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% set user = app.user %}
          {% if user %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                  <img src="{{ user.photo }}" class="avatar avatar--small" alt="photo of {{ user.fullName }}">
                  {{ user.fullName }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                  <a href="{{ path("my_account") }}" class="dropdown-item">My Acccount</a> 
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ path('ads_create') }}">Create Ad</a>
                  <div class="dropdown-divider"></div>
                  <a href="{{ path("profile_update") }}" class="dropdown-item">Change Profile</a> 
                  <a href="{{ path("password_update") }}" class="dropdown-item">Update Password</a> 
                  <div class="dropdown-divider"></div>
                  <a href="{{ path("logout") }}" class="dropdown-item">Logout</a> 
                </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('auth_login') }}">Login</a>
            </li>              
            <li class="nav-item">
              <a class="nav-link" href="{{ path('auth_register') }}">Register</a>
            </li>              
          {% endif %}
        </ul>
        </div>
    </div>
</nav>