{% extends 'base.html.twig' %}

{% block title %}Book details{% endblock %}
{% set author = booking.ad.user %}
{% set ad = booking.ad %}


{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Your Booking (N° {{ booking.id }})</h1>

        {% if app.flashes and app.flashes.bookSuccess %}
            <div class="alert alert-success">
                <h4 class="alert-heading">Congrants!</h4>
                <p>
                    Your book via 
                    <strong>
                        <a href="{{ path("user_show", { "slug": author.slug }) }}">
                            {{ author.fullName }}
                        </a>
                        for the ad
                        <strong>
                            <a href="{{ path("ads_show", { "slug": ad.slug }) }}">
                                {{ ad.title }}
                            </a>
                            is done
                        </strong>
                    </strong>
                </p>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <div class="alert mb-2" style="background-color: rgb(248, 248, 248)">
                    <h2>Details</h2>
                    <dl class="row">
                        <dt class="col-md-4">Number</dt>
                        <dd class="col-md-8">{{ booking.id }}</dd>
                        <dt class="col-md-4">Start Date</dt>
                        <dd class="col-md-8">{{ booking.startDate | date('d/m/y') }}</dd>
                        <dt class="col-md-4">End date</dt>
                        <dd class="col-md-8">{{ booking.endDate | date('d/m/y') }}</dd>
                        <dt class="col-md-4">Number of nights</dt>
                        <dd class="col-md-8">{{ booking.NumberOfNights }}</dd>
                        <dt class="col-md-4">Total amount</dt>
                        <dd class="col-md-8">{{ booking.amount }} $</dd>
                        <dt class="col-md-4">Comment</dt>
                        <dd class="col-md-8">{{ booking.comment }}</dd>
                    </dl>
                    <hr>
                    <h2  class="alert-heading">Your Host</h2>
                    <div class="row align-items-center mb-3">
                        <div class="col-3">
                            <img src="{{ author.photo }}" class="avatar" alt="photo of {{ author.fullName }}">
                        </div>
                        <div class="col-9">
                            <h4>
                                <a href="{{ path("user_show", { 'slug': author.slug }) }}">
                                    {{ author.fullName }}
                                </a>
                            </h4>
                            <span class="badge badge-primary">
                                {{ author.ads | length }} Ad(s)
                            </span>
                        </div>
                    </div>
                    <div>{{ author.description | raw }}</div>
                    <a class="btn btn-primary" href="{{ path("user_show", { 'slug': author.slug }) }}">
                        More details: {{ author.fullName }}
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="alert mb-2" style="background-color: rgb(248, 248, 248)">
                    <h2 class="alert-heading">Your Ad</h2>
                    <h4>
                        <a href="{{ path('ads_show', { 'slug': ad.slug }) }}">
                            {{ ad.title }}
                        </a>
                    </h4>
                    <img src="{{ ad.coverImage }}" alt="image of {{ ad.title }}" class="img-fluid mb-3">
                    <div>{{ ad.content | raw }}</div>
                    <a href="{{ path("ads_show", { 'slug': ad.slug }) }}" class="btn btn-primary">More details on this ad</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}