{% extends "base.html.twig" %}

{% block title %}Creation d'une annonce{% endblock %}

{% form_theme adForm _self %}

{% block body %}
  <div class="container">
    <h1>Create a new Ad</h1>

    {{ form_start(adForm) }}

      {{ form_widget(adForm) }}      

      <button class="btn btn-success add-image-btn" type="button">new image</button>
      <button class="btn btn-success" type="submit">Add a new Ad</button>

    {{ form_end(adForm) }}
  </div>
{% endblock %}

{% block _ad_images_widget %}
  <p>Here, you can add your own iamges!</p>
  
  {{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_widget %}
  <div class="form-group">
    <div class="row">
      <div class="col-10">
        <div class="row">
          <div class="col">{{ form_widget(form.url) }}</div>
          <div class="col">{{ form_widget(form.caption) }}</div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-danger delete-btn" >X</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block _ad_images_entry_label %}{% endblock %}

{% block javascripts %}
  <script>
    const onDeleteButtonClick = () => {
      $('.delete-btn').click(function() {
        $(this).closest('.form-group.row').remove();
      });
    }

    onDeleteButtonClick();

    $('.add-image-btn').click(function() {
      const index = $('#ad_images > .form-group').length;

      const template = $('#ad_images')
      .data('prototype')
      .replace(/__name__/g, index);

      $('#ad_images').append(template);

      onDeleteButtonClick();
    });
  </script>  
{% endblock %}
